<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/assets/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">

</head>

<body>
  <!-- Navegador -->
  <header>
    <section class="container-fluid">
      <nav class="container-fluid hide-on-mobile menu">
        <div class="navbar navbar-white bg-white">
          <div>
            <ul>
              <li>
                <a href="inicio.html">Inicio</a>
              </li>
              <li>
                <a href="perfil.html">Perfil</a>
              </li>
              <li>
                <a href="noticias.html">Noticias</a>
              </li>
              <li>
                <a href="marketplace.html">Sitios de interés</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- burger nav -->
      <div class="pos-f-t d-md-none">
        <div class="collapse" id="navbarToggleExternalContent">
          <ul class="bg-white p-4">
            <li>
              <a href="inicio.html">Inicio</a>
            </li>
            <li>
              <a href="perfil.html">Perfil</a>
            </li>
            <li>
              <a href="noticias.html">Noticias</a>
            </li>
            <li>
              <a href="marketplace.html">Sitios de interés</a>
            </li>
          </ul>
        </div>
        <nav class="navbar navbar-white bg-white">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span>
              <img class="img-fluid" src="../assets/images/burger.svg" alt="burger">
            </span>
          </button>
        </nav>
      </div>
    </section>
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img class="img-fluid" src="../assets/images/logo.png" alt="logo">
      </div>
    </div>
  </header>
  <!-- divición -->
  <div class="container-fluid">
    <img src="" alt="">
  </div>
  <!-- Perfil -->
  <div class="container-fluid">
    <div class="row">
      <!-- Card perfil -->
      <div class="col-12 col-md-3 border d-none d-sm-block">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/images/perfil1.jpg" alt="avatar">
          <div class="card-body">
            <h5 class="card-title">Doggie Mark</h5>
            <p class="card-text">Soy un perro cool.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Developer</li>
            <li class="list-group-item">Cantante</li>
          </ul>
          <div class="card-body">
            <p class="card-text">Perro Grande, robusto, compacto y sólido con una buena osamenta. Sin pelage exagerado. El equilibrio es esencial.</p>
          </div>
        </div>
      </div>
      <!-- Post -->
      <div class="col-12 col-md-7">
        <div id="principal post col-12 col-md-7">
          <div class="wrap post_container">
            <form class="formulario" method="post" action="" enctype="multipart/form-data">
              <textarea type="text" class="txt" id="text_post" rows="1" placeholder="¿Qué estás pensando?"></textarea>
              <br>
              <label for="">
                <button type="button" id="btn_agregar" class="btn" name="postear" value="agregar_post"> Postear</button>
              </label>
            </form>
          </div>
          <div class="container border">
            <div class="tareas" id="post_post">
              <div class="wrap post_area">
                <br>
                <ul class="list_text text-center" id="list_text">
                  <li>Hola amigos les cuento el dia a dia de mi amado Mark</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Imagenes -->
      <div class="col-12 col-md-2">
        <div id="principal post col-12 col-md-7">
          <div class="wrap post_container">
            <form id="form-imagenes">
              <h6>Fotos</h6>
              <label class="btn btn-file">
                <img id="upload" class="img-responsive" src="../assets/images/upload.png" alt="upload">
                <input type="file" name="fichero" value="" id="fichero" class="invisible">
              </label>
            </form>
          </div>
          <!-- Aqui va la imagen -->
          <div id="imagenFirebase"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Script -->
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDgDTL5hI3jUBUiRaWP8_5jwIs3yIr6AWo",
      authDomain: "doggie-1ead6.firebaseapp.com",
      databaseURL: "https://doggie-1ead6.firebaseio.com",
      projectId: "doggie-1ead6",
      storageBucket: "doggie-1ead6.appspot.com",
      messagingSenderId: "1013850018533"
    };
    firebase.initializeApp(config);
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="../js/assets/bootstrap.min.js"></script>
  <script src="../js/img.js"></script>
  <script src="../js/post.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>