<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/assets/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Navegador -->
  <header>
    <section class="container-fluid">
      <nav class="container-fluid hide-on-mobile menu">
        <div class="navbar navbar-white bg-white">
          <div>
            <ul>
              <li>
                <a href="inicio.html">Inicio</a>
              </li>
              <li>
                <a href="perfil.html">Perfil</a>
              </li>
              <li>
                <a href="noticias.html">Noticias</a>
              </li>
              <li>
                <a href="marketplace.html">Sitios de interés</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- burger nav -->
      <div class="pos-f-t d-md-none">
        <div class="collapse" id="navbarToggleExternalContent">
          <ul class="bg-white p-4">
            <li>
              <a href="inicio.html">Inicio</a>
            </li>
            <li>
              <a href="perfil.html">Perfil</a>
            </li>
            <li>
              <a href="noticias.html">Noticias</a>
            </li>
            <li>
              <a href="marketplace.html">Sitios de interés</a>
            </li>
          </ul>
        </div>
        <nav class="navbar navbar-white bg-white">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span>
              <img class="img-fluid" src="../assets/images/burger.svg" alt="burger">
            </span>
          </button>
        </nav>
      </div>
    </section>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img class="img-fluid" src="../assets/images/logo.png" alt="logo">
      </div>
    </div>
  </header>

  <!-- divición -->
  <dir class="container-fluid">
    <img src="" alt="">
  </dir>

  <!-- Perfil -->
  <h1>Vacaciones!!!!</h1>
  <div class="container-fluid">
    <div class="row">
      <!-- Card perfil -->
      <div class="col-12 col-md-3 border">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/images/xolo.jpg" alt="avatar">
        </div>
      </div>
      <!-- Perfil contenido -->
      <div class="col-12 col-md-9 border">
        <div class="card-body">
          <h5 class="card-title">La Morada del Xolo</h5>
          <p class="card-text">En la Morada del Xolo sabemos lo que tu mascota significa para ti, por eso desarrollamos este concepto innovador
            donde ambos pueden convivir en un mismo espacio. Somos el único hotel pet friendly en el estado de Morelos y
            desde hace diez años nos hemos consolidado como un lugar especial para vacacionar en Cuernavaca y ahora en Tepoztlán.
            Para nosotros es importante que nuestros huéspedes se sientan muy cómodos, que reciban un trato amable y que
            disfruten plenamente de todos los servicios, estos valores han hecho de la Morada del Xolo un espacio totalmente
            recomendable para hospedarte en compañía de tu mascota.</p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.9679479893393!2d-99.25204778510033!3d18.97702288714469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cde093761da7a3%3A0x992b66bdfa7d2966!2sLos+Pinos+114%2C+Santa+Mar%C3%ADa+Ahuacatitl%C3%A1n%2C+62100+Cuernavaca%2C+Mor.!5e0!3m2!1ses-419!2smx!4v1529870659606"
          width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>

        <div class="card-body">
          <a href="http://lamoradadelxolo.com.mx/" class="card-link" target="_blank">Visitanos!!!</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- Fin de perfil -->

  <!-- Perfil -->
  <h3>Adopta</h3>
  <div class="container-fluid">
    <div class="row">
      <!-- Card perfil -->
      <div class="col-12 col-md-3 border">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/images/lorenza.jpg" alt="avatar">
        </div>
      </div>
      <!-- Perfil contenido -->
      <div class="col-12 col-md-9 border">
        <div class="card-body">
          <h5 class="card-title">Hola mi nombre es Lorenza</h5>
          <p class="card-text">Perrita hembra, talla mediana, edad 7 meses, es color Blanco con manchas café . Convive con gatos. Se recomienda
            para niños mayores de 10 años. Convive con perros. Es una perrita cariñosa, juguetona, independiente y hace sus
            necesidades afuera. Come croquetas, sabe andar con correa y en coche. Sobre hacer sus necesidades en el lugar
            adecuado, Hace sus necesidades en lugares adecuados y no hubo necesidad de entrenarla. Lorenza ya está vacunada,
            desparasitada y esterilizada. Si te interesa conocer a Lorenza ponte en contacto con Denisse Salmerón al teléfono:
            5543812197 o envía un correo electrónico a : tecdesse@gmail.com</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.471814680678!2d-103.45508337871304!3d20.691056925445398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428aecd4d79fdaf%3A0x2d182f7273efc88!2sParque+Funeral+Colonias!5e0!3m2!1ses-419!2smx!4v1529872159829"
          width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="card-body">
          <a href="https://www.facebook.com/adoptagdl/" class="card-link" target="_blank">Adóptame!!!</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- Fin de perfil -->

  <!-- Perfil -->
  <h3>Como cuidar a tu perro</h3>
  <div class="container-fluid">
    <div class="row">
      <!-- Card perfil -->
      <div class="col-12 col-md-3 border">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/images/frio.jpg" alt="avatar">
        </div>
      </div>
      <!-- Perfil contenido -->
      <div class="col-12 col-md-9 border">
        <div class="card-body">
          <h5 class="card-title">5 trucos para que tu perro no pase frío este invierno</h5>
          <p class="card-text">Salvo que tengas un can de, por ejemplo, raza nórdica, los peludos suelen sufrir el descenso de las marcas térmicas
            tanto o más que nosotros.</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">1-Procúrale un lugar cálido y cómodo para dormir</h5>
          <p class="card-text">Si tu peludo duerme dentro de la casa, seguro querrá descansar cerca de alguna fuente de calor. Pero esto no es
            lo ideal porque luego se notará mucho la diferencia de temperatura con otros lugares menos cálidos o cuando tenga
            que salir a la calle. Así que ubica su cama en su lugar habitual, obviamente alejada del frío, con un colchón
            aislado de la humedad del suelo y con una manta abrigada.</p>
          <h5 class="card-title">2-Ponle ropa de abrigo e impermeable para sus paseos</h5>
          <p class="card-text">Los cambios bruscos de temperatura son los que pueden contribuir a que tanto humanos como perros enfermemos. A
            la hora de salir a pasear, lo ideal es que abrigues a tu peludo con prendas cómodas y que lo protejan bien del
            frío. Aquí no importa la moda o el diseño más o menos bonito. Lo importante es que la ropa -que puedes comprar
            o elaborar tu mismo- cumpla la función de preservar a tu perro de las bajas temperaturas.</p>
          <h5 class="card-title">3-Reduce las salidas</h5>
          <p class="card-text">Cuando el frío, la lluvia o la nieve se vuelven excesivos, lo mejor es que reduzcas las salidas de tu peludo solo
            para hacer sus necesidades. Si bien el ejercicio es sumamente necesario para los perros, puedes suplir las actividades
            del exterior con sesiones más extensas de juego dentro de la casa.</p>
          <h5 class="card-title">4-No le cortes el pelo</h5>
          <p class="card-text">Ni se te ocurra llevar a la peluquería o cortarle el pelo a tu mascota justo cuando el invierno empieza a hacerse
            notar. El pelo es una de las herramientas naturales que el animal tiene para protegerse del frío.</p>
          <h5 class="card-title">5-Asegúrate de que su calendario de vacunación esté al día</h5>
          <p class="card-text">Procura que tu perro cumpla siempre con su calendario de vacunación. Y que para afrontar mejor las épocas de baja
            temperatura, esté inmunizado contra la tos de las perreras o traqueobronquitis. Es que aunque no se trate de
            una enfermedad grave, puede ser díficil de curar. De todas formas presta atención a síntomas como: Tos Fiebre
            elevada Vómitos Mucosidad
          </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Anterior</a>
          <a href="#" class="card-link">Siguiente</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- Fin de perfil -->

  <!-- Script -->
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDgDTL5hI3jUBUiRaWP8_5jwIs3yIr6AWo",
      authDomain: "doggie-1ead6.firebaseapp.com",
      databaseURL: "https://doggie-1ead6.firebaseio.com",
      projectId: "doggie-1ead6",
      storageBucket: "doggie-1ead6.appspot.com",
      messagingSenderId: "1013850018533"
    };
    firebase.initializeApp(config);
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="../js/assets/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>