<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/assets/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Navegador -->
  <header>
    <section class="container-fluid">
      <nav class="container-fluid hide-on-mobile menu">
        <div class="navbar navbar-white bg-white">
          <div>
            <ul>
              <li>
                <a href="inicio.html">Inicio</a>
              </li>
              <li>
                <a href="perfil.html">Perfil</a>
              </li>
              <li>
                <a href="noticias.html">Noticias</a>
              </li>
              <li>
                <a href="marketplace.html">Market place</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- burger nav -->
      <div class="pos-f-t d-md-none">
        <div class="collapse" id="navbarToggleExternalContent">
          <ul class="bg-white p-4">
            <li>
              <a href="inicio.html">Inicio</a>
            </li>
            <li>
              <a href="perfil.html">Perfil</a>
            </li>
            <li>
              <a href="noticias.html">Noticias</a>
            </li>
            <li>
              <a href="marketplace.html">Market place</a>
            </li>
          </ul>
        </div>
        <nav class="navbar navbar-white bg-white">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span>
              <img class="img-fluid" src="../assets/images/burger.svg" alt="burger">
            </span>
          </button>
        </nav>
      </div>
    </section>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img class="img-fluid" src="../assets/images/logo.png" alt="logo">
      </div>
    </div>
  </header>

  <!-- divición -->
  <dir class="container-fluid">
    <img src="" alt="">
  </dir>

  <!-- Perfil -->
  <div class="container-fluid">
    <div class="row">
      <!-- Card perfil -->
      <div class="col-12 col-md-3 border">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/images/perfil1.jpg" alt="avatar">
        </div>
      </div>
      <!-- Perfil contenido -->
      <div class="col-12 col-md-9 border">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de perfil -->

  <!-- Script -->
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDgDTL5hI3jUBUiRaWP8_5jwIs3yIr6AWo",
      authDomain: "doggie-1ead6.firebaseapp.com",
      databaseURL: "https://doggie-1ead6.firebaseio.com",
      projectId: "doggie-1ead6",
      storageBucket: "doggie-1ead6.appspot.com",
      messagingSenderId: "1013850018533"
    };
    firebase.initializeApp(config);
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="../js/assets/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>